body{
    font-family: sans-serif;
}

h1,h2,h3,h4,p {
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #2082ec;
    border-bottom-color: transparent;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search-form{
    margin: 0 auto;
    width: 380px;
}

button{
    border-radius: 8px;
    background-color: #4E75FF;
    border: none;
    color: #FFF;
    font-size: 16px;
    width: 95px;
    height: 40px;
}

button:hover{
    background-color: #6C8CFF;
}

.photo-search{
    box-sizing: border-box;
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 4px;
}

.photo-search:hover{
    border-color: black;
}

.photo-search:focus {
    outline-color: #6C8CFF;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.gallery-item{
    width: 360px;
    height: 200px;
    border: 1px solid #808080;

}

.gallery-item-image{
    display: block;
    width: 360px;
    height: 152px;
    object-fit: cover;
}

.image-info-list{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    font-size: 14px;
}

.list-item{
    text-align: center;
}

.load-btn{
    display: block;
    margin: 12px auto;
    width: 140px;
}